.inp2{
	width: 90%;
	border: 0;
	padding-left: 10%;
	margin: 0 auto; 
	height: 50px;
	line-height: 50px;
	margin-left: 5%;
	border-bottom: 1px solid #999999;
	font-family: "microsoft yahei";
	font-size: 1.1em;
	outline:none;
}
.bg1{
	background: url(../images/i22-1.png) no-repeat 5px 16px;
	-webkit-background-size: 18px;
	background-size: 18px;
}
.bg2{
	background: url(../images/i22-2.png) no-repeat 5px 16px;
	-webkit-background-size: 16px;
	background-size: 16px;
}
.bg3{
	background: url(../images/i22-3.png) no-repeat 5px 14px;
	-webkit-background-size: 20px;
	background-size: 20px;
}
.reg1{
	background-color: #fff;
}
/*.ul-pass1 li .visible {
  background-image: url(data:image/png;base64,iVBORw0KG);
  height: .8rem;
  top: .55rem;
}

 .ul-pass1 li .invisible {
  background-image: url(data:image/png;base64,iVBORw0K);
  height: .5rem;
  top: .7rem;
}*/

.yanzheng1{
	position: relative;
}
#btn2{
	position: absolute;
	right: 5%;
	bottom: 10px;
	border: 0;
	padding: 5px 10px;
	font-size: 1.0em;
	font-family: "microsoft yahei";
	color: #3890E9;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #3890E9;
	display: block;
}
.btn3{
	width: 90%;
	margin-left: 5%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #3890E9;
	border: 0;
	color: #fff;
	display: block;
	font-family: "microsoft yahei";
	font-size: 1.0em;
	border-radius: 5px;
}
.box1{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 2px;
	border:  1px solid #999999;
	color: #999999;
}
.ul-pass1 li span{
	display: inline-block;
	color: #666666;
	font-family: "microsoft yahei";
}
.ul-pass1 li span a{
	display: inline-block;
	text-decoration: underline !important;
}
.ul-pass1 li a{
	font-family: "microsoft yahei";
	font-size: 0.825em;

}
.ul-login1{
	width: 40%;
	margin: 0 auto;
}
.ul-login1 li{
	width:33.33%; 
	float: left;
	text-align: center;
}
.ul-login1 li a{
	display: block;
}
.ul-login1 li a img{
	width: 70%;
}
/*设置*/
.bg4{
	overflow: hidden;
	background-color: #F0F0F0;
}
.ul-pass2 {
	border-top: 1px solid #CCCCCC;
}
.ul-pass2 li{
	width: 100%;
	margin-top: 10px;
	padding: 10px 0;
	overflow: hidden;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	position: relative;

}
.ul-pass2 li em{
	float: left;
	width: 120px;
	display: block;
	padding-left: 15px;
	font-size: 1.0em;
	font-family: "microsoft yahei";
	color: #222222;
}
.ul-pass2 li a{
	display: block;
}
.ul-pass2 li span{
	float: right;
	width: 12px;
	height:20px;
	display: block;
	background: url(../images/next1.png) no-repeat center;
	-webkit-background-size: 8px;
	background-size: 8px;
	margin-right: 10px;
}


.bt1{
	border-top: 1px solid #ccc;
}
.pd0{
	padding: 0 !important;
}
.p1{
	font-family: "microsoft yahei";
	color: #666;
	font-size: 1.1em;
}
.inp3{
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding-left: 2%;
	font-size: 1.1em;
	border: 0;
	font-family: "microsoft yahei";
	color: #444;
}
.del1{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 8px;
	top: 12px;
	z-index: 9;
}
.img4{
	width: 60%;
	height: auto;
	max-width: 245px;
}
.tips1{
	position: fixed;bottom: 0;
	width: 100%;
	height: 200px;
	display: none;
	background-color: #fff;
	z-index: 999;
}
.tips1 a{
	width: 90%;
	    margin-left: 5%;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;		
	    border: 1px solid #CCCCCC;
	    display: block;
	    font-family: "microsoft yahei";
	    font-size: 1.0em;
	    border-radius: 5px;
}
.ys1{
	color: #222222 !important; 
}
.ys2{
	color: #fff  !important;
}
.btn4{
	width: 90%;
	    margin-left: 5%;
	    height: 40px;
	    line-height: 40px;
	    text-align: center;
	    background-color: #3890E9;
	    border: 0;
	    color: #fff;
	    display: block;
	    font-family: "microsoft yahei";
	    font-size: 1.0em;
	    border-radius: 5px;
}
.tp1 .g1 p{
	font-size: 1.1em;
	font-family: "microsoft yahei";
	color: #999999;
	margin: 0;
	line-height: 25px;
}
.ul-imlist1{

}
.ul-imlist1 li{

	padding: 5px 2%;
	overflow: hidden;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}
.ul-imlist1 li em{
	text-align: left;
	display: block;
	float: left;
	font-family: "microsoft yahei";
	color: #222222;
	padding: 2px 10px;
	font-size: 1.0em;
}
.a1{
	display: inline-block;
	font-size: 1.0em;
	margin-left: 5px;
	color: #333333;
	padding: 3px 0px;
	cursor: pointer;
	font-family: "microsoft yahei";

}
.wb75{
	width: 75%;
}
.wb20{
	width: 20%;
}

.models1{
	height: 100px;
	background-color: #fff;
}
.models1 img{
	max-height: 100px;
}
.tg1{
	padding-left: 10px;
}
.tg1 h3{
	font-size: 1.1em;
	line-height: 20px;
	font-family: "microsoft yahei";
	color: #222222;
}

.row-a{
	background-color: #fff;
	font-size: 1.1em;
	font-family: "microsoft yahei";
	color: #555555;

}
.row-a  em{
	font-size: 1.0em;
	font-family: "microsoft yahei";
	color: #222222;
}
.region1{
	padding: 2px 4px;
	display: block;
	color: #222222;
	background: url(../images/xb1.png) no-repeat 25px center;
	-webkit-background-size: 15px;
	background-size: 15px;
	border: 1px solid #ccc;
	position: relative;
}
.dl-region{
	width: 222px;
	position: absolute;
	top: 25px;
	display: none;
	left: -10px;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 999;
}
.dl-region dd{
	padding:3px 4px;
	margin: 4px;
	float: left;
	display: block;
	cursor: pointer;
	text-align: center;
	background-color: #F0F0F0;
}

.inp4{
	width: 80%;
	height: 25px;
	margin-left: 2px;
	padding-left: 6px;
	font-size: 0.825em;
	height: 25px;
	border: 0;
	border-left: 1px solid #ccc;
}
.bj1{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	display: none;
	background-color: #FFFFFF;
}
.cz1{
	padding-top: 10px;
}
.cz1 img{
	 	width: 80%;
	 	max-width: 35px;
}
.cz1 h4{
	font-size: 1.1em;
	margin: 0; 
	line-height: 25px;
	font-family: "microsoft yahei";
	color: #222222;
}
.pd10{
	overflow: hidden;
	background-color: #fff;
	padding: 10px 0;
}
.bg5{
	background-color:#3890E9;
	overflow: hidden;
}
.ht1 h3{
	margin: 0;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	overflow: hidden;
	font-size: 1.2em;
}